* {
    border: none;
}


html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100%;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

button {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 0 0 12px 0;
}


/* the JSON reader itself */
#json-reader {
    height: 100%;
    overflow: auto;
    width: 100%;
}

#json-reader-error {
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    height: 200px;
    margin: 0 0 0 10px;
    width: 90%;
}

.json-reader-error-part {
    margin: 10px 0 0 0;
}

#json-reader-error-message {
    color: #b91400;
}

.json-reader-tree-subtree {
    margin: 0 0 0 25px;
    min-width: 400px;
}

.json-reader-tree-parent {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ddd;
    color: #0277bd;
    overflow: auto;
    padding: 10px 4px;
    white-space: pre;
    width: 100%;
}

.json-reader-tree-property {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ddd;
    color: #0277bd;
    display: flex;
    overflow: auto;
    padding: 10px 4px;
    user-select: text;
    white-space: pre;
    width: 100%;
}

.json-reader-tree-parent:hover {
    cursor: pointer;
}

.json-reader-tree-property-arrow {
    font-size: 0.5em;
    margin: 0 5px 0 0;
}

.json-reader-tree-property-value {
    color: #455a64;
    padding: 0 10px 0 25px;
}

.json-reader-tree-property-selected {
    background-color: #c1d5e0;
}

.text-blue {
    color: #004c8c;
}

.text-white {
    color: white;
}

.text-underline {
    text-decoration: underline;
}

.json-reader-tree-property {
    cursor: pointer;
    margin: 2px 0;
    display: flex;
    align-items: center;
}

.json-reader-tree-parent {
    font-weight: bold;
}

.json-child {
    margin-left: 20px;
}

#clickedPathDisplay {
    font-weight: bold;
}